footer {height: 250px; margin-top: 50px; display: flex; flex-direction: column; 
    align-items: center; justify-content: space-around; text-align: center;}

span {color: #fff; font-family: 'Kdam Thmor Pro' , sans-serif; text-align: center;} 

.footer-navigation {display: none;}

.footer-list {display: flex; flex-direction: column; align-items: center;  justify-content: center; 
margin: 0; padding: 0;} 


#logo2 {width: 250px; height: auto;}


@media(max-width: 768px){
    .footer-navigation {display: block;}

    .footer-list {display: flex; align-items: center; justify-content: center; flex-direction: column;
    margin-top: 20px;}

}


@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        height: 250px; 
        flex-direction: column;
        justify-content: space-around; 
        text-align: center;
        padding: 0 30px; /* Adiciona um espaçamento lateral */
    }

    #logo2 {
        width: 350px; 
    }

    .footer-navigation {
        display: block; /* Garante que a navegação seja visível */
    }

    .footer-list {
        flex-direction: column; /* Alinha os itens da lista verticalmente */
        margin-top: 20px;
    }

    span {
        font-size: 1.5rem; 
    }
}

